<div id="arrow_menu" class="arrow_menu">
   <div class="arrowback"><span class="arrowtextback">Menu</span></div>
   <div class="arrow" id="forward_guestbook"><span class="arrowtext">Greetings</span></div>
</div>

<div id="gallery_container" class="gallery_container">

   <div class="container">
      <div class="row">
        <a href="/photos/porto1.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
          <img src="/photos/porto1.jpg" class="img-fluid rounded">
        </a>
        <a href="/photos/porto5.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
          <img src="/photos/porto5.jpg" class="img-fluid rounded">
        </a>
        <a href="/photos/porto1.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
          <img src="/photos/porto1.jpg" class="img-fluid rounded">
        </a>
      </div>
    </div>    
   

 </div>