<div id="arrow_menu" class="arrow_menu">
    <div class="arrowback"><span class="arrowtextback">Menu</span></div>
    <div class="arrow" id="forward_gallery"><span class="arrowtext">gallery</span></div>
</div>

<div id="guestbook_input" class="guestbook_input">
    <div class="form-group">
        <label for="name" class="font_gold">Name:</label>
        <input type="text" class="form-control" id="name">

        <label for="message" class="font_gold">Comment:</label>
        <textarea class="form-control" rows="15" id="message"></textarea>

        <input type="submit" value="Abschicken" id="guestbookInput" class="btn btn-dark gold" />
    </div>
</div>