<div id="arrow_menu" class="arrow_menu">
   <div class="arrowback"><span class="arrowtextback">Menu</span></div>
   <div class="arrow" id="forward_timeline"><span class="arrowtext">Timeline</span></div>
</div>

<div id="info" class="info">
   <h1 class="font_gold font_marck">Wann?</h1>
   <p class="font_dancing">Trauung um 14h</p>
   <p class="font_dancing">Dinner um 17.30</p>
   <p class="font_dancing">Mehr Details siehe</p>
   <button type="button" class="btn btn-primary" id="timetablelink">Timeline</button>
</div>

<div id="location" class="location">
   <h1 class="font_gold font_marck">Wo?</h1>
   <p class="font_dancing">Im Park Hyatt, Am Hof 2, 1010 Wien</p>
   <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10635.188332486116!2d16.3683592!3d48.2105243!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeba63c1241c3dae2!2sPark%20Hyatt%20Vienna!5e0!3m2!1sde!2sat!4v1598686236258!5m2!1sde!2sat"
      width="350" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>
</div>

