<div class="toggle" id="toggle">
    <i class="plus row justify-content-center align-items-center" id="plus" onclick="menu-expand()">
        <div class="menu " id="menu">
            <div class="iconWeddingAbc" id="iconWeddingAbc">
                <img src="/images/weddingAbcBig.png" class="icon" />
            </div>
             <div class="iconTimeline" id="iconTimeline">
                <img src="/images/iconTimelineBig.png" class="icon" />
            </div>
             <div class="iconGallery" id="iconGallery">
                <img src="/images/iconGalleryBig.png" class="icon" id="imgIconCouple"/>
             </div>
            <div class="iconInfo" id="iconInfo">
                <img src="/images/iconInfoNewBig.png" class="icon" />
            </div>
            <div class="iconGuestbook" id="iconGuestbook">
                <img src="/images/guestBookNewBig.png" class="icon" />
            </div>
           
        </div>
    </i>
</div>



 
