<div class="toggle" id="toggle">
    <i class="row justify-content-center align-items-center" id="menu_expanded">
        <div class="menu_expanded " id="menu_expanded">
            <div class="iconWeddingAbc" id="iconWeddingAbc">
                <img src="/images/iconWeddingAbc3.png" class="icon" />
            </div>
             <div class="iconTimeline" id="iconTimeline">
                <img src="/images/iconPartyWithLabel.png" class="icon" />
            </div>
             <div class="iconGallery" id="iconGallery">
                <img src="/images/iconGalleryNew2.png" class="icon" id="imgIconCouple"/>
             </div>
            <div class="iconInfo" id="iconInfo">
                <img src="/images/iconInfoNew3.png" class="icon" />
            </div>
            <div class="iconGuestbook" id="iconGuestbook">
                <img src="/images/guestBookNew4.png" class="icon" />
            </div>
           
        </div>
    </i>
</div>



 
