<div id="arrow_menu" class="arrow_menu">
  <div class="arrowback"><span class="arrowtextback">Menu</span></div>
  <div class="arrow" id="forward_weddingAbc"><span class="arrowtext">WeddingAbc</span></div>
</div>

<div id="timeline" class="timeline">

  <div class="container py-2">
    <h2 class="font-weight-light text-center text-muted py-3">Hochzeits-Zeitplan</h2>


    <div class="row">
      
      <div class="col py-2">
        <div class="card border-success shadow">
          <div class="card-body">
            <div class="float-right text-success">13:45</div>
            <h4 class="card-title text-success">Ankunft der Gäste</h4>
            <p class="card-text">Bitte 15 Minuten vor der Trauung ankommen damit wir rechtzeitig beginnen können</p>

          </div>
        </div>
      </div>
      <div class="col py-2">
        <div class="card border-success shadow">
          <div class="card-body">
            <div class="float-right text-success">14:00</div>
            <h4 class="card-title text-success">Trauung und Zeremonie</h4>
            <p class="card-text">Um 14h beginnt die Trauung mit Standesbeamten</p>
          </div>
        </div>
      </div>
      <div class="col py-2">
        <div class="card border-success shadow">
          <div class="card-body">
            <div class="float-right text-success">15:00</div>
            <h4 class="card-title text-success">Agape und Fotoshooting mit den Gästen</h4>
            <p class="card-text">Agape mit Sektempfang und kleinen Häppchen. Währendessen können die Gäste Fotos mit dem
              Brautpaar machen</p>
          </div>
        </div>
      </div>
      <div class="col py-2">
        <div class="card border-success shadow">
          <div class="card-body">
            <div class="float-right text-success">18:00</div>
            <h4 class="card-title text-success">Dinner</h4>
            <p class="card-text">Um 18h beginnt das Dinner im Festsaal</p>
            <button class="btn btn-sm btn-outline-secondary" type="button" data-target="#t2_details"
              data-toggle="collapse">Show Menü ▼</button>
            <div class="collapse border" id="t2_details">
              <div class="p-2 text-monospace">
                <div>Fleisch</div>
                <div>Wasser</div>
                <div>Brot</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col py-2">
        <div class="card border-success shadow">
          <div class="card-body">
            <div class="float-right text-success">20:00</div>
            <h4 class="card-title text-success">Anschnitt der Hochzeitstorte</h4>
            <p class="card-text">Anschneidung der Hochzeitstorte und Programm</p>
          </div>
        </div>
      </div>
      <div class="col py-2">
        <div class="card border-success shadow">
          <div class="card-body">
            <div class="float-right text-success">ab 20:00</div>
            <h4 class="card-title text-success">Party!!!</h4>
            <p class="card-text">Open End Party</p>
          </div>
        </div>
      </div>
      <div class="col py-2">
        <div class="card border-success shadow">
          <div class="card-body">
            <div class="float-right text-success">24:00</div>
            <h4 class="card-title text-success">Mitternachtsimbiss</h4>
            <p class="card-text">Noch ein Snack für alle Gäste</p>
          </div>
        </div>
      </div>
      <div class="col py-2">
        <div class="card border-success shadow">
          <div class="card-body">
            <div class="float-right text-success">02:00</div>
            <h4 class="card-title text-success">Ende der Feierlichkeiten</h4>
            <p class="card-text">Der Letzte geht nach Hause</p>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>