<div id="arrow_menu" class="arrow_menu">
   <div class="arrowback"><span class="arrowtextback">Menu</span></div>
   <div class="arrow" id="forward_gallery"><span class="arrowtext">Gallery</span></div>
</div>

<div id="weddingabc" class="weddingabc">
   <div>
      <h1 class="font_gold">Hochzeits-ABC</h1>
   </div>
   <p class="abc">A...wie Aufmerksamkeit: Dieses ABC bitte aufmerksam lesen, es enhält viel Wissenswertes zu unserer
      Hochzeit</p>
   <p class="abc">B...wie Brautstrauß – Diejenige, die ihn fängt, wird die nächste Braut. Ist jemand besonders
      scharf darauf, bitte melden, die Braut wird versuchen zu zeieln.</p>
   <p class="abc">C...wie Champagner, Elfenbein und Weiß sind die Farben der Braut.</p>
   <p class="abc">D...wie Dresscode: Festlich und Elegant </p>
   <p class="abc">E...Essen und Trinken gibt´s genug, dann vergeht die Zeit doch wie im Flug</p>
   <p class="abc">F...Fotos sollen viele gemacht werden. Während der Trauung aber bitte nur von unserem Fotografen
   </p>
   <p class="abc">G...wie Gästebuch – Damit wir uns auch noch nach Jahren an einen sehr schönen Tag mit euch
      erinnern können, werden wir ein Gästebuch auflegen. Wir würden uns sehr über einen lieben Eintrag von euch freuen.
   </p>
   <p class="abc">H...Hochzeitsnacht: Da seid Ihr dann nicht mehr dabei</p>
   <p class="abc">I...wie Idealfall – Pünktlich um 14 Uhr wird geheiratet! Bitte schon vorher da sein. Nur auf die
      Braut darf gewartet werden</p>
   <p class="abc">J...wie JA – ist das wichtigste Wort an diesem Tag.</p>
   <p class="abc">K...Kleidung- nicht nackt, nicht weiß und nicht verwildert, wie es schon der Dresscode schildert.
   </p>
   <p class="abc">L...Lautes Klingeln während der Trauung würde stören. Handy bitte auf lautlos schalten!</p>
   <p class="abc">M...wie Musik – braucht ihr nicht selber machen, unsere DJ lässt es richtig krachen.</p>
   <p class="abc">N...Nachwuchs: Kinder sind auf unserer Hochzeit natürlich gern gesehen (außer ihr Eltern wollt so
      richtig Party machen)</p>
   <p class="abc">O...Ohne Euch wäre es nur halb so schön</p>
   <p class="abc">P...Pünktlich um 14 Uhr werden wir mit der standesamtlichen Trauung beginnen.</p>
   <p class="abc">Q...wie Qualifikation – Nach 10 Jahren erreicht! Somit heiraten wir an unserem 10.Jahrestag.</p>
   <p class="abc">R...Rückmeldungen erbeten wir bis zum 01.Mai.2020.</p>
   <p class="abc">S...Spaß sollt ihr alle haben und kräftig für Stimmung sorgen.</p>
   <p class="abc">T...Tanzen: Wir hoffen, dass ihr uns eure Moves zeigt</p>
   <p class="abc">U...Unser Hausstand, der ist voll, drum fänden wir es richtig toll, ein Kuvert mit etwas drin, das
      macht und Freude und hat Sinn.</p>
   <p class="abc">V...Verliebt, verlobt – endlich wird geheiratet</p>
   <p class="abc">W...Wow… bis hier habt ihr gelesen, dann seid ihr aber brav gewesen.</p>
   <p class="abc">X...X-beliebige Personen werden nicht eingeladen, nur besondere Menschen: und das seid ihr!</p>
   <p class="abc">Zum Schluss: Wir freuen uns auf einen unvergesslichen Tag mit euch</p>

</div>